.submit1{
    margin-right:11px;

    border: none;
    outline: none;
    padding:8px 30px;
    cursor: pointer;

    font-size: 0.9em;
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -o-border-radius: .3em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;

    margin: 0 auto;
}
